@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}
